<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<section class="_135editor" data-tools="135编辑器" data-id="90192" style="border: 0px none; padding: 0px; position: relative; box-sizing: border-box;">
    <section style="overflow:hidden;">
        <section style="width:100%;height:2rem;
background-image:url(http://image3.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9naWYvZmdua3hmR25ua1FaS0syWWNNQTJmZVIzVEZCcHNrU20yQXFYaWJOd0tvbEVTUzFEak56ZVdBNzQ4R25YYVR6Q2VxTWtoSmM2NGZROVhwYTE0YXdRenlnLzA/d3hfZm10PWdpZg==);background-repeat:no-repeat;background-size:100%;" data-width="100%">
            &nbsp;
        </section>
        <section>
            <p style="text-align: center;">
                <br/>
            </p>
            <p style="text-align: center; line-height: 1.75em;">
                夏日炎炎
            </p>
            <p style="text-align: center; line-height: 1.75em;">
                还在wifi+空调+西瓜？
            </p>
            <p style="text-align: center; line-height: 1.75em;">
                那就out啦
            </p>
            <p style="text-align: center; line-height: 1.75em;">
                <strong><span style="color: rgb(255, 192, 0);">佛山</span><span style="color: rgb(146, 208, 80);">九道谷</span><span style="color: rgb(0, 176, 240);">漂流<span style="color: rgb(250, 192, 143);">景区</span></span></strong>
            </p>
            <p style="text-align: center; line-height: 1.75em;">
                邀您清凉一夏 酷爽一夏
            </p>
        </section>
    </section>
</section>
<p>
    <br/>
</p>
<p>
    <br/>
</p>
<section class="_135editor" data-tools="135编辑器" data-id="89858" style="border: 0px none; padding: 0px; box-sizing: border-box;">
    <section data-id="us505157" class="_135editor" style="border: 0px none; padding: 0px; position: relative; box-sizing: border-box;">
        <section style="width:100%; text-align:center;" data-width="100%">
            <img src="http://static2.xialv.com/scenery/2017/08/15/01/1502780048558493.jpg" alt="OQgthjm9_vCxa.jpg" title="1502780048558493.jpg"/>
        </section>
        <section style="clear:both; width:100%;" data-width="100%"></section>
    </section>
</section>
<section class="_135editor" data-tools="135编辑器" data-id="89858" style="border: 0px none; padding: 0px; box-sizing: border-box;">
    <section data-id="us505157" class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
        <section style="width:100%; text-align:center;" data-width="100%">
            <img style="width:60px;" src="http://rdn.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9naWYvZmdua3hmR25ua1I4NWljalJUQU4zbUE0eFpZaWF0VURpYWZaakE2b0NDdlpWNk96ZWljSVpvR3JYVmdveUh2WjFNTUZueTlpY0owUVNhRWZ0cHFMbngyV3RKUS8wP3d4X2ZtdD1naWY="/>
        </section>
        <section style="clear:both; width:100%;" data-width="100%"></section>
    </section>
</section>
<p>
    <br/>
</p>
<p>
    <br/>
</p>
<p style="text-align: center;">
    <strong><span style="color: rgb(255, 255, 255); background-color: rgb(0, 176, 240);">佛山第一狂野漂流——九道谷漂流</span></strong><br/>
</p>
<p>
    <br/>
</p>
<p style="text-align: center; line-height: 1.75em;">
    全程<span style="color: rgb(0, 176, 240);">4.8</span>公里的生态峡谷漂流河道<br/>
</p>
<p style="text-align: center; line-height: 1.75em;">
    <span style="color: rgb(0, 176, 240);">138</span>米的首尾落差，
</p>
<p style="text-align: center; line-height: 1.75em;">
    <span style="color: rgb(0, 176, 240);">9</span>个S型的回旋弯道
</p>
<p style="text-align: center; line-height: 1.75em;">
    <span style="color: rgb(0, 176, 240);">38</span>次尖叫，<span style="color: rgb(0, 176, 240);">52</span>次心跳
</p>
<p style="text-align: center; line-height: 1.75em;">
    不属于你身体的<span style="color: rgb(0, 176, 240);">7200</span>秒
</p>
<p style="text-align: center; line-height: 1.75em;">
    “水上过山车”的动感刺激
</p>
<p style="text-align: center; line-height: 1.75em;">
    “林中滑翔机”的畅快淋漓
</p>
<p>
    <br/>
</p>
<p style="color: rgb(62, 62, 62); font-family: &#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif; line-height: 25.6px; white-space: normal; text-align: center;">
    <img src="http://image.135editor.com/files/users/265/2659116/201708/YDy3e3EE_vqmQ.gif" alt="1418656152.gif"/>
</p>
<p style="color: rgb(62, 62, 62); font-family: &#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif; line-height: 25.6px; white-space: normal; text-align: center;">
    <br/>
</p>
<p style="line-height: 1.75em;">
    皮艇随着水流从纯天然水道飞驰而下，冲漂过滩，山狭水转，激流勇进。一时大浪扑面，一时急驰而下，分分钟让你感受到灵魂出窍~
</p>
<p style="line-height: 1.75em;">
    <br/>
</p>
<p style="text-align:center">
    <img src="http://static2.xialv.com/scenery/2017/08/15/01/1502780157121048.jpg" alt="640.webp (2).jpg" title="1502780157121048.jpg"/>
</p>
<p style="text-align:center">
    <img src="http://static2.xialv.com/scenery/2017/08/15/01/1502780175727924.jpg" alt="640.webp (1).jpg" title="1502780175727924.jpg"/>
</p>
<p style="text-align:center">
    <img src="http://static2.xialv.com/scenery/2017/08/15/01/1502780187535123.jpg" alt="640.webp.jpg" title="1502780187535123.jpg"/>
</p>
<p>
    <br/>
</p>
<section data-role="paragraph" class="_135editor" style="border: 0px none; padding: 0px; position: relative; box-sizing: border-box;">
    <p style="text-align: center;">
        <br/>
    </p>
</section>
<section data-role="paragraph" class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
    <p style="text-align: center;">
        <strong><span style="color: rgb(255, 255, 255); background-color: rgb(54, 96, 146);">水上冲关</span></strong>
    </p>
</section>
<section data-role="paragraph" class="_135editor" style="border: 0px none; padding: 0px; position: relative; box-sizing: border-box;">
    <p style="text-align: center;">
        <br/>
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        看多上电视上的水上冲关综艺节目
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        是不是早就想自己来大显身手一番了？
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        <span style="color: rgb(54, 96, 146);">旋转 跳跃 不停歇</span>
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        嗨起来~
    </p>
    <p>
        <br/>
    </p>
    <p style="text-align:center">
        <img src="http://image.135editor.com/files/users/265/2659116/201708/agZZ2LLT_mB8c.png" alt="微信图片_20170815130021.png" width="811" height="592" style="width: 811px; height: 592px;"/>
    </p>
</section>
<p>
    <br/>
</p>
<p style="text-align: center;">
    <img src="http://image.135editor.com/files/users/265/2659116/201708/PzL8LWns_mrFk.gif" alt="0.gif"/>
</p>
<p>
    <br/>
</p>
<p>
    <br/>
</p>
<section data-role="paragraph" class="_135editor" style="border: 0px none; padding: 0px; position: relative; box-sizing: border-box;">
    <p>
        <br/>
    </p>
    <p style="text-align: center;">
        <span style="background-color: rgb(49, 133, 155);"><strong><span style="color: rgb(255, 255, 255);">山泉池水</span></strong></span>
    </p>
    <p style="text-align: center;">
        <br/>
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        漂流太刺激？<br/>
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        那就来试试<span style="color: rgb(49, 133, 155);">纯天然</span>的山泉泳池
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        纵情畅游<br/>
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        感受大自然的馈赠
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        享受悠然夏日时光
    </p>
    <p>
        <br/>
    </p>
    <p style="text-align:center">
        <img src="http://static2.xialv.com/scenery/2017/08/15/01/1502780337817145.jpg" alt="640.webp (3).jpg" title="1502780337817145.jpg"/>
    </p>
    <p style="text-align:center">
        <img src="http://static2.xialv.com/scenery/2017/08/15/01/1502780365640984.png" alt="微信图片_20170815130015.png" width="808" height="529" style="width: 808px; height: 529px;" title="1502780365640984.png"/>
    </p>
</section>
<section data-role="paragraph">
    <p>
        <br/>
    </p>
    <p style="text-align: center;">
        <strong><span style="color: rgb(255, 255, 255); background-color: rgb(118, 146, 60);">山林探险</span></strong>
    </p>
    <p style="text-align: center;">
        <br/>
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        沿着山间小溪一路往上
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        <span style="color: rgb(118, 146, 60);">穿幽谷、过险径、攀悬崖、过浮桥</span>
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        细听流水潺潺
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        远眺群山青翠
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        览尽溪谷美景
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        描绘属于你的山林探险故事
    </p>
    <p>
        <br/>
    </p>
    <p style="text-align:center">
        <img src="http://static2.xialv.com/scenery/2017/08/15/01/1502780416520573.jpg" alt="640.webp (6).jpg" title="1502780416520573.jpg"/>
    </p>
    <p style="text-align:center">
        <img src="http://static2.xialv.com/scenery/2017/08/15/01/1502780430112240.jpg" alt="640.webp (5).jpg" title="1502780430112240.jpg"/>
    </p>
    <p style="text-align:center">
        <img src="http://static2.xialv.com/scenery/2017/08/15/01/1502780441731033.jpg" alt="640.webp (4).jpg" title="1502780441731033.jpg"/>
    </p>
    <p style="text-align: center;">
        &nbsp;&nbsp;
    </p>
    <p style="text-align: center;">
        &nbsp;<strong><span style="color: rgb(146, 205, 220);">刺激的漂流&nbsp;</span></strong> <strong><span style="color: rgb(84, 141, 212);">悠闲的泳池</span></strong>&nbsp;&nbsp;
    </p>
    <p style="text-align: center;">
        <strong style="line-height: 1.75em;"><span style="color: rgb(250, 192, 143);">有趣的冲关</span></strong><span style="line-height: 1.75em;"> &nbsp;</span><strong style="line-height: 1.75em;"><span style="line-height: inherit; color: rgb(118, 146, 60);">怡人的山林</span></strong>
    </p>
    <p style="text-align: center; line-height: 1.75em;">
        <span style="line-height: inherit;">还等什么 浪起来~</span>
    </p>
    <p>
        <br/>
    </p>
    <p style="line-height: 1.75em;">
        地址：佛山市三水区迳口华侨经济区九道谷漂流景区正门
    </p>
    <p style="line-height: 1.75em;">
        交通：乘坐664、616路公交车到九道谷下车，步行前往
    </p>
    <p>
        <img src="http://image.135editor.com/files/users/265/2659116/201708/IEyEjbBU_asHf.png" alt="1502779811(1).png"/>
    </p>
</section>
<p>
    <br/>
</p>
<p>
    <br/>
</p>
</body>
</html>